.nav-menu {
    text-align: right;
}
.nav-spacing {
    margin: 0 0 0 10px;
}
.report_header_spacing {
    text-align: center; 
    margin: 0 0 80px;
}
.book_summary {
    width: 500px; 
    margin: 
    20px auto; 
    padding: 30px; 
    background-color: #fafafa;
}
.book_quote {
    font-style: italic;font-size: 20px;
}
.book_quote_emp {
    font-style: normal; 
    font-size: 24px; 
    font-weight: bold; 
    color: #ff0000;
}
.famous_quote {
    padding: 2px 20px; 
    background:burlywood
}
.iliad_cover {
    display: block; 
    margin: 0 auto;
    width: 50%
}
.iliad_shield {
    float: left; 
    margin-right: 40px; 
    height: 300px
}
.social_link {
    text-decoration: none;
}